<nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource">
    <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodePadding>
        {{ node.label }}
    </nz-tree-node>

    <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodePadding>
        <nz-tree-node-toggle *ngIf="!node.loading">
            <i nz-icon nzType="caret-down" nzTreeNodeToggleRotateIcon></i>
        </nz-tree-node-toggle>
        <nz-tree-node-toggle *ngIf="node.loading" nzTreeNodeNoopToggle>
            <i nz-icon nzType="loading" nzTreeNodeToggleActiveIcon></i>
        </nz-tree-node-toggle>
        {{ node.label }}
    </nz-tree-node>
</nz-tree-view>
<nz-list nzSize="small">
    <ng-container *ngIf="isDebugging$ | async">
        <nz-list-item *ngFor="let variable of localVariables$ | async">
            <span>
                <nz-tag nzColor="blue">局</nz-tag> {{ variable["name"] }} : {{ variable["value"] }}
            </span>
        </nz-list-item>
    </ng-container>
</nz-list>