#localTree {
    .ant-tree-node-selected,.ant-tree-node-content-wrapper:hover {
        background: inherit !important;
    }

    .ant-tree-node-content-wrapper {
        cursor: initial !important;
    }

}