<div id="tabContainer">
    <nz-tabset nzType="editable-card" [(nzSelectedIndex)]="activeIndex" (nzClose)="closeTab($event)" nzHideAdd cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="cdkOnDrop($event)">
        <nz-tab *ngFor="let tab of tabList" [nzTitle]="titleTemplate" nzClosable>
        <ng-template #titleTemplate>
            <div cdkDrag class="tab-title">
                <!-- <div class="example-custom-placeholder" *cdkDragPlaceholder></div> -->
                {{ (tab.saved? '' : '*') + tab.title }}
            </div>
        </ng-template>
    </nz-tab>
    </nz-tabset>
    <div id="routerWrapper">
        <router-outlet></router-outlet>
    </div>
</div>