#tabContainer {
  height        : 100%;
  width         : 100%;
  display       : flex;
  flex-direction: column;

  nz-tabset {
    flex-shrink: 0;
  }
  .tab-title {
    display    : inline;
    user-select: none;
  }

  #routerWrapper {
    flex-grow : 1;
    min-height: 0;
  }
}
