<div id="tabContainer">
    <nz-tabset nzType="editable-card" [(nzSelectedIndex)]="activeIndex" (nzClose)="closeTab($event)" nzHideAdd
        cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="cdkOnDrop($event)">
        <nz-tab *ngFor="let tab of tabList" [nzTitle]="titleTemplate" nzClosable>
            <ng-template #titleTemplate>
                <div cdkDrag class="tab-title">
                    <!-- <div class="example-custom-placeholder" *cdkDragPlaceholder></div> -->
                    {{ (tab.saved? '' : '*') + tab.title }}
                </div>
            </ng-template>
        </nz-tab>
    </nz-tabset>
    <div id="routerWrapper">
        <router-outlet></router-outlet>
    </div>
</div>
<nz-modal [(nzVisible)]="notSaveModalVisible" nzTitle="未保存" (nzOnCancel)="notSaveModalCancel()">
    <ng-container *nzModalContent>
        是否保存为 {{ notSaveModalTab.title }}？
    </ng-container>
    <div *nzModalFooter>
        <button nz-button nzType="primary" (click)="notSaveModalYes()">是</button>
        <button nz-button nzType="default" (click)="notSaveModalNo()">否</button>
        <button nz-button nzType="default" (click)="notSaveModalCancel()">取消</button>
    </div>
</nz-modal>