<div id="collapseContainer">
    <nz-collapse>
        <nz-collapse-panel nzHeader="编译输出（JSON）" [nzActive]="false" [nzExtra]="copyCompileIcon">
            <pre class="output">{{ compileMessage }}</pre>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="链接输出" [nzActive]="linkMessage !== ''" [nzExtra]="copyLinkIcon">
            <pre class="output">{{ linkMessage }}</pre>
        </nz-collapse-panel>
        <nz-collapse-panel *ngIf="otherMessage !== ''" nzHeader="未知错误信息">
            <pre class="output">{{ otherMessage }}</pre>
        </nz-collapse-panel>
    </nz-collapse>
    <ng-template #copyCompileIcon>
        <i nz-icon nzType="copy" [cdkCopyToClipboard]="compileMessage" (click)="$event.stopPropagation();"></i>
    </ng-template>
    <ng-template #copyLinkIcon>
        <i nz-icon nzType="copy" [cdkCopyToClipboard]="linkMessage" (click)="$event.stopPropagation();"></i>
    </ng-template>
</div>