:host {
    --header-height: 4em;
    --footer-height: 2em;

    #header {
        width: 100%;
        height: var(--header-height);
    }
    #footer {
        width: 100%;
        height: var(--footer-height);
    }

    #mainView {
        position: absolute;
        top: var(--header-height);
        bottom: var(--footer-height);
        width: 100%;
    }

    #header {
        position: fixed;
        top    : 0;
    }

    #footer {
        position: fixed;
        bottom : 0;
    }
}