:host {
    $header-height: 4em;
    $footer-height: 2em;

    #header {
        width : 100%;
        height: $header-height;
    }

    #footer {
        width : 100%;
        height: $footer-height;
    }

    #mainView {
        position: absolute;
        top     : $header-height;
        bottom  : $footer-height;
        width   : 100%;
    }

    #header {
        position: fixed;
        top     : 0;
    }

    #footer {
        position: fixed;
        bottom  : 0;
    }
}