:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items :center;
    user-select: none;

    // p {
    //     display:block;
    //     font-size: 30pt;
    //     color: lightgray;
    // }
    
    img {
        display: block;
        filter: grayscale(100%) brightness(2);
        max-width: 40%;
        max-height: 40%;
    }
}