<nz-layout>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8">
      <h3>标准</h3>
      <nz-select [(ngModel)]="currentOptions.std">
        <nz-option nzValue="" nzLabel="默认"></nz-option>
        <nz-option *ngFor="let option of stdOptions" [nzValue]="option" [nzLabel]="'C++'+option"></nz-option>
      </nz-select><br>
      <label nz-checkbox [(nzChecked)]="currentOptions.gnu">带 GNU 扩展</label>
    </div>
    <div nz-col [nzSpan]="8">
      <h3>优化</h3>
      <nz-select [(ngModel)]="currentOptions.O">
        <nz-option nzValue="" nzLabel="默认"></nz-option>
        <nz-option *ngFor="let option of optOptions" [nzValue]="option" [nzLabel]="'-O'+option"></nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="8">
      <h3>调试</h3>
      <label nz-checkbox [(nzChecked)]="currentOptions.g">带调试信息(<code>-g</code>)</label><br>
      <small>调试前的编译会默认启用 <code>-g</code>。</small>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8">
      <h3>警告</h3>
      <label nz-checkbox [(nzChecked)]="currentOptions.Wall">启用全部警告(<code>-Wall</code>)</label><br>
      <label nz-checkbox [(nzChecked)]="currentOptions.Wextra">启用更多警告(<code>-Wextra</code>)</label><br>
      <label nz-checkbox [(nzChecked)]="currentOptions.Werror">认警告为错误(<code>-Werror</code>)</label><br>
    </div>
    <div nz-col [nzSpan]="8">
      <h3>编码</h3>
      <label nz-checkbox [(nzChecked)]="currentOptions.fexec_charset">调整可执行文件编码(<code>-fexec-charset</code>)</label><br>
    </div>
  </div>
  <h3>自定义...</h3>
  <div class="ant-input" id="customArgs" [ngClass]="customArgsDivClass" (click)="innerInput.focus()">
    <ng-container *ngFor="let arg of buildedArgs">
      <nz-tag *ngIf="arg.startsWith('DYN'); else staticArg" nzColor="warning">{{arg.substr(3) + '...'}}</nz-tag>
      <ng-template #staticArg>
        <nz-tag>{{arg}}</nz-tag>
      </ng-template>
    </ng-container>
    <nz-tag *ngFor="let arg of currentOptions.other" nzColor="processing" nzMode="closeable"
      (nzOnClose)="customRemove(arg)">{{arg}}</nz-tag>
    <input #innerInput nz-input id="innerInput" [nzBorderless]="true"
      (focus)="customArgsDivClass = ['ant-input-focused']" (blur)="customArgsDivClass = []"
      (keydown.enter)="customSubmit(innerInput.value); innerInput.value = ''"
      (keydown.backspace)="innerInput.value === '' ? removeLast() : 0" placeholder="键入...">
  </div>
</nz-layout>
