@import './app/codicon/codicon.css';

:root {
  --monospace-font: Consolas, 'Courier New', Courier, monospace;
}

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
