<div id="asContainer">
    <as-split unit="pixel" direction="vertical" (dragEnd)="toolsSizeOnChange($event)">
        <div as-split-area size="*" id="upperPart">
            <ul nz-menu nzMode="inline" [nzInlineCollapsed]="true" id="sidebarMenu">
                <li nz-menu-item nz-tooltip nzTooltipPlacement="right" *ngFor="let i of sidebarItems"
                    [nzTooltipTitle]="i.title" (click)="showSidebar(i.url)" [nzDisabled]="i.disabled"
                    [nzSelected]="currentSidebarUrl === i.url">
                    <i nz-icon [nzType]="i.icon"></i>
                </li>
            </ul>
            <as-split unit="pixel" direction="horizontal">
                <div as-split-area [size]="200" minSize="150" id="sidebarArea">
                    <router-outlet name="sidebar"></router-outlet>
                </div>
                <div as-split-area size="*">
                    <app-tabs></app-tabs>
                </div>
            </as-split>
        </div>
        <div as-split-area [size]="200" minSize="150" id="toolsArea">
            <router-outlet name="tools"></router-outlet>
        </div>
    </as-split>
    <nz-button-group>
        <button nz-button *ngFor="let i of toolsItems" [disabled]="i.disabled" (click)="showTools(i.url)"
            [nzType]="currentToolsUrl == i.url ? 'primary' : 'default'">
            {{ i.title }}
        </button>
    </nz-button-group>
</div>